
/*600x210*/
@font-face {
  font-family: "ArticoExpMedium";
  src: url("../fonts/ArticoExpMedium.ttf");
  font-display: swap;
}
@font-face {
  font-family: "ArticoExp";
  src: url("../fonts/ArticoExp.ttf");
}
body{
  width: 600px;
  position: relative;
  margin: 20 20 20 20;
}
.song, .customer {
  position: absolute;
  width: 100%;
  font-family: ArticoExpMedium;
  color: rgb(255,255,255);
  -webkit-mask-image: linear-gradient(to right,
			rgba(0,0,0,0) 0%,
      rgba(0,0,0,0) 6%,
      rgba(0,0,0,1) 15%,
      rgba(0,0,0,1) 85%,
      rgba(0,0,0,0) 94%,
      rgba(0,0,0,0) 100%);
}
.song{
  padding-top:60px;
}
.customer{
  padding-top:93px;
}
.intext{
  display: inline-block;
  white-space:nowrap;
  font-size:32px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  width: auto;
}
#songF1, #custF1{
  transform: translateX(38px);
}
#songM1, #custM1{
  transform: translateX(600px);
}
#songD1, #custD1{
  transform: translateX(600px);
}


.buttonBlock{
  text-align: center;
  margin: 15 0 0 0;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: auto;
  display: flex;
  flex-direction:row;
  justify-content: center;

  //display: none;
}
.buttonBlock > button{
  margin: 0 10 0 10;
  width: 100px;
}

.FBarrel{
  animation-fill-mode: forwards;
}
.MBarrel{
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.DBarrel{
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.cls-1.FSpring{
  transition: opacity 0.4s, transform 5.5s ease-in-out;
}
.FMSpring{
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.cls-1 {
  display: inline-block;
  white-space:nowrap;
  font-size:32px;
  /*font-size: 40px;*/
  transition: opacity 0.4s;
  opacity: 0;
}

@keyframes songMove {

}
@keyframes songMoveFirst {

}

@keyframes custMove {

}
@keyframes custMoveFirst {

}

#player{
  display: none;
}


.cls-1, .cls-16, .cls-27, .cls-28, .cls-29 {
  fill: none;
}

.cls-1 {
  font-family: ArticoExpMedium;
}
.cls-18 {
  font-family: ArticoExp;
  font-family: ArticoExpMedium;
  opacity: 0.7;
}

.cls-2 {
  letter-spacing: -0.05em;
}

.cls-3 {
  letter-spacing: -0.046em;
}

.cls-4 {
  letter-spacing: 0em;
}

.cls-5 {
  letter-spacing: -0.005em;
}

.cls-6 {
  letter-spacing: -0.026em;
}

.cls-7 {
  letter-spacing: 0em;
}

.cls-8 {
  letter-spacing: -0.001em;
}

.cls-9 {
  letter-spacing: -0.02em;
}

.cls-10 {
  letter-spacing: -0.04em;
}

.cls-11 {
  letter-spacing: -0.082em;
}

.cls-12 {
  letter-spacing: -0.005em;
}

.cls-13 {
  letter-spacing: -0.05em;
}

.cls-14 {
  letter-spacing: -0.03em;
}

.cls-15 {
  letter-spacing: -0.01em;
}

.cls-17 {
  opacity: 0.74;
  fill: url(#radial-gradient);
}

.cls-18 {
  font-size: 32px;
}

.cls-18, .cls-23, .cls-26 {
  fill: #fff;
}

.cls-19 {
  clip-path: url(#clip-path);
}

.cls-20 {
  fill: url(#linear-gradient);
}

.cls-21 {
  clip-path: url(#clip-path-2);
}

.cls-22 {
  fill: url(#radial-gradient-2);
}

.cls-23, .cls-28{
  fill: url(#New_Gradient_Swatch);
}
.cls-23, .cls-28 {
  opacity: 0.3;
}

.cls-24 {
  clip-path: url(#clip-path-3);
}

.cls-25 {
  stroke: #00e1ff;
  stroke: #b3ebff;
  stroke: #fff;
  stroke-width: 14px;
  opacity: 0.67;
  opacity: 1;
  transition: stroke-dasharray 0.5s;
  stroke-miterlimit: 10;
  fill: none;
}

.cls-27, .cls-28, .cls-29 {
  stroke-miterlimit: 10;
}

.cls-26 {
  opacity: 0.5;
  transition: 0.2s;
  transition-timing-function:ease;
}
.cls-27{
  opacity: 0.5;
  transition: 0.2s;
  transition-timing-function:ease;
}

.cls-27 {
  stroke: #fff;
  stroke-width: 10px;
}

.cls-27, .cls-28, .cls-29 {
  stroke-linecap: round;
}
.cls-29 {
  stroke-width: 14px;
}

.cls-29 {
  stroke: #ff0066;
  stroke: #ccff66;
  stroke: #ff3399;
}
.cls-30{
  clip-path: url(#clip-path-4);
}
